.post-table {
    width: 100%;
    margin: 20px auto 20px auto;
}

.main-container {
  margin: 0px auto 0px auto;
  max-width: 1170px;
}

.main-content {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; 
  margin-bottom: 10px;
}

.header-content {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.footer-content {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.buttons_bar_create_post input {margin: 0 5px;}
.buttons_bar_create_post a {margin: 0 5px;}

.validation-error {
    display: block;
    margin: 5px 15px 5px 15px;
    padding: 8px 15px 8px 15px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
